/**
 * style.css
 *
 * 1. General HTML tags
 * 2. General UI
 * 3. Popup areas
 * 4. Movie information
 * 5. Media queries for mobile layout
 *
 */

/*****************************************************
 * 1. General HTML tags
 */

html, body {
    min-height: 100%;
}

body {
	background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
    font-family: 'Roboto';
    color: #333;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    margin-bottom: 1em;
}

dl {
    margin: 1em 0;
}

dt {
    font-weight: 400;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

dd {
    margin-left: 1em;
}

button {
    background: #E0E0E0;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto';
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.6);
    display: block;
}

button:hover {
    background: #D0D0D0;
}

/*****************************************************
 * 2. General UI
 */

.hidden {
	display: none;
}

#loading_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#wsiw_button {
    font-size: 3.4em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

#source_selector {
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
}

.source_selector_popup {
    bottom: initial !important;
    top: 50%;
    background: #CCC;
    padding: 2em;
    z-index: 99;
    transform: translate(-50%, -50%) !important;
}

#sources, .source {
    display: inline;
}

#select_source_button {
    font-size: 1.5em;
    margin: 1em auto;
}

#nothappy, #what_is_this {
    position: absolute;
    top: 1%;
    right: 1%;
    background: rgba(0,0,0,0.7);
    font-size: 1.2em;
    padding: 0.5em;
    color: #FFF;
}

#what_is_this {
    display: inline;
    background: #e0e0e0;
    color: #000;
}

#overlay {
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.trakt_user {
    width: 3em;
    text-align: center;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.trakt_user:focus {
    outline: none;
    border: 1px dashed #000;
}

.source_error {
    color: #F00;
    font-weight: normal;
}

/*****************************************************
 * 3. Popup areas
 */

#about {
    font-size: 1.5em;
    font-weight: 300;
    background: #CCC;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    z-index: 2;
    border-radius: 2px;
}

.close_button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 10%;
}



/*****************************************************
 * 4. Movie information
 */

#info_container {
    background: rgba(0,0,0,0.7);
    width: 100%;
    margin-top: 30%;
    padding-bottom: 2em;
    text-align: left;
    color: #FFF;
}

#info_container:after {
	content: " ";
	display: table;
	clear: both;
}

#info_container a {
    text-decoration: none;
}

#info_container_left {
    width: 12%;
    float: left;
}
#info_container_right {
    width: 84%;
    float: right;
}

#poster {
    width: 100%;
    position: relative;
    top: -2em;
    left: 2em;
}

#title {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 0.3em;
}

#overview {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3;
}

#summary {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

#summary_right {
    float: right;
    margin-right: 2em;
}

.ratings_icon {
    width: 24px;
    vertical-align: middle;
}

/*****************************************************
 * 5. Media queries for mobile layout
 */

@media screen and (max-width: 767px) {
    #source_selector {
        width: 80%;
    }

    #sources, .source {
        display: list-item;
    }
}
